@import "tailwindcss";

@theme {
  --color-primary: #112D4E;
  --color-action: #3F72AF;
  --color-bg: #ffffff;
  --color-text: #000;
  --color-airesp: #d0dee8;
  --color-login-bg-start: #5f63e9;
  --color-login-bg-end: #6a66f4;
  --color-login-card: #f9f9fc;
  --color-login-muted: #8f93b0;
  --color-login-input: #f1f2fb;
  --color-login-input-text: #262942;
  --color-login-primary: #4f56e6;
  --color-login-primary-hover: #444be0;
}

body{
  @apply bg-white
}

.sidebar_icons{
  @apply w-full py-2 flex text-xl justify-center focus:outline-none hover:text-primary hover:bg-white transition-colors duration-200
}

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #b8c7d8;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1afc2;
}
